/*.list-view {
    -fx-padding: 0;
    -fx-background-color: orange;
    -fx-cursor: hand;
}

.list-cell {
    -fx-padding: 1 2 3 2;
    -fx-background-color: orange;
    -fx-cursor: hand;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: #e69500;
    -fx-text-fill: white;
}*/

.autocomplete {
    -fx-cursor: hand !important;
    -fx-background-color: orange;
    /*-fx-highlight-text-fill: white;*/
}

.paragraph-box {
    -fx-padding: 1 2 3 2;
}

.paragraph-box:has-caret {
    -fx-background-color: #e69500;
}