.text-field {
    -fx-font-size: 14;
    -fx-background-radius: 2px;
    -fx-background-color: white;
    -fx-padding: 8 20 8 20;
    /*-fx-background-insets: 0, 1;*/
}

.background-white {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 2px;
}