@font-face { font-family: Arkhip; src: url('/font/arkhip.ttf'); }

.titlebar-button {
    -fx-padding: 0 3 0 4;
    -fx-background-radius: 1em;
    -fx-font-size: 0;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.titlebar-title {
    -fx-font-family: Arkhip;
    -fx-font-size: 17;
    /*-fx-background-color: #E0E0E0;*/
}

.green {
    -fx-background-color: #4CAF50;
}

.green:hover {
    -fx-background-color: #66BB6A;
}

.green-pressed {
    -fx-background-color: #43A047 !important;
}

.orange {
    -fx-background-color: #FF9800;
}

.orange:hover {
    -fx-background-color: #FFA726;
}

.orange-pressed {
    -fx-background-color: #FB8C00 !important;
}

.red {
    -fx-background-color: #f44336;
}

.red:hover {
    -fx-background-color: #ef5350;
}

.red-pressed {
    -fx-background-color: #e53935 !important;
}