/*
.button {
    -fx-font-family: Arkhip;
    -fx-font-size: 14;
    -fx-background-color: #795548;
    -fx-background-radius: 2px;
    -fx-padding: 6 20 6 20;
    -fx-text-fill: whitesmoke;
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.24), 2, 0.4, 0, 1);
}

.button:focused {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.button:hover {
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.24), 8, 0.4, 0, 4);
}
*/

.background-white {
    -fx-background-color: #F0F0F0;
}
